#loading {
  display: none;
}

.btn-hideShow {
  background-color: #3f4650;
}

.hoverImage {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
}

.hoverButton {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
}

#scrollingButtonGroup {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 100%;
}

.buttonGroup {
  margin-top: 10px;
  display: table;
}

.buttonGroup button {
  margin-right: 10px;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 100px;
}

.wrapper {
  width: 100%;
  background: #2f3640;
  display: none;
}

body {
  background: #2f3640;
  margin: 0px;
}

pre {
  margin: 0px;
}

ol {
  padding-left: 60px;
}

.noMargin {
  margin: 0px !important;
}

.startScreen {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.fl {
  width: 40%;
  float: left;
}

.fr {
  width: 40%;
  float: right;
}

#codeInput {
  height: 250px;
}

#exampleCodeScroll {
  max-height: 500px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

.exampleWrapper {
  margin: auto;
  background: #2f3640;
  margin-top: 25px;
}

.btn-warning {
  background-color: #fed03d;
}

.btn-info {
  background-color: #4fc1e9;
}

input[type="file"] {
  display: none;
}

.fileInput {
  margin: 0px;
  margin-right: 10px;
}

.class-page-link {
  float: right;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none
}

.gitbutton {
  background-color: #3f4650;
  border: 1px solid #222;
  border-radius: 3px;
  color: #fed03d;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  transition: background .3s, color .3s
}

.gitbutton:hover {
  background: #222;
  color: #fff
}

.bottomGitLink {
  position: fixed !important;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

#pictureHolder {
  position: fixed !important;
  right: 100px;
  top: 100px;
}

#carouselPicture img {
  width: 225px;
  max-width: 225px;
  height: 225px;
  max-height: 225px;
}

.links {
  width: 90%;
  margin: auto;
  margin-top: 25px;
}

.card {
  display: inline-block;
  margin: 5px 5px;
}

.card-body {}

/* Eof */