//- pug text.pug --pretty --watch --out ../../pages/
doctype html
html(lang='en')
  head
    title Central Landing Page
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js')
    //- script(src='../js/text/vehicle.js')
    //- script(src='../js/text/sketch.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js')
    //- script(src='https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js')
    //- script(src='js/particles/landing/app.js')
    script(src='/js/options/options.js')
    script(src='/js/text/text.js')
    script(src='/js/text/vehicle.js')
    script(src='/js/text/sketch.js')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="../css/index.css")
  body.textBody
    div#landingParticles
    nav.navbar.navbar-dark.bg-dark
      img(src='../assets/images/logo/logo.png')
      button(id="options" type="button" onclick="toggleOptions()").btn.btn-dark Options
    div.optionShadowBox
      .optionsBox
        .form-row
          //- .form-group.col.labelRow
          //-   label(for='inputState') Text
        .form-row
          .form-group.col
            //- label.switch
            //-   input(onchange='textShow()', type='checkbox')
            //-   span.slider
            .form-row
        .form-row
          .input-group
            .input-group-prepend
              span.input-group-text Text              
            textarea#textContents.form-control
              | Code
              | {Central}
            .input-group-append
              button(type='button', onclick='updateStrings()', name='button') Update
