#loading {
  display: none;
}

.btn-hideShow {
  background-color: #3f4650;
}

.hoverImage {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
}

.hoverButton {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
}

#scrollingButtonGroup {
  position: fixed;
  top: 15px;
  right: 10px;
  height: 100%;
  z-index: 10;
}

.p5CanvasWrapper {
  position: fixed;
  right: 0;
  top: 0;
}

.buttonGroup {
  margin-top: 10px;
  display: table;
}

.buttonGroup button {
  margin-right: 10px;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 100px;
}

.wrapper {
  width: 100%;
  background: #2f3640;
  display: none;
}

body {
  background: #2f3640;
  margin: 0px;
}

pre {
  margin: 0px;
}

ol {
  padding-left: 60px;
}

.noMargin {
  margin: 0px !important;
}

.startScreen {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.fl {
  width: 40%;
  float: left;
}

.fr {
  width: 40%;
  float: right;
}

#codeInput {
  height: 250px;
}

#exampleCodeScroll {
  max-height: 500px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

.exampleWrapper {
  margin: auto;
  background: #2f3640;
  margin-top: 25px;
}

.btn-warning {
  background-color: #fed03d;
}

.btn-info {
  background-color: #4fc1e9;
}

input[type="file"] {
  display: none;
}

.fileInput {
  margin: 0px;
  margin-right: 10px;
}

.class-page-link {
  float: right;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none
}

.gitbutton {
  background-color: #3f4650;
  border: 1px solid #222;
  border-radius: 3px;
  color: #fed03d;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  transition: background .3s, color .3s
}

.gitbutton:hover {
  background: #222;
  color: #fff
}

.bottomGitLink {
  position: fixed !important;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

#pictureHolder {
  position: fixed !important;
  right: 100px;
  top: 100px;
}

#carouselPicture img {
  width: 225px;
  max-width: 225px;
  height: 225px;
  max-height: 225px;
}

.links {
  width: 90%;
  margin: auto;
  margin-top: 25px;
}

.card {
  display: inline-block;
  margin: 5px 5px;
}

.card-body {}

.followWrapper {
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 10;
  margin-right: 82px;
  margin-top: 10px;
  display: none;
  overflow: scroll;
}

/* line 2, ../sass/index.sass */
.gitUsernameWrapper {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 150px;
  /* background-color: #3498db; */
  color: black;
  margin: 15px;
}

/* line 10, ../sass/index.sass */
.gitUsernameWrapper .gitUsername {
  position: absolute;
  width: 300px;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  top: 50%;
  right: 50%;
  margin-top: -75px;
  margin-right: -150px;
  background-color: #24292e;
}

/* line 22, ../sass/index.sass */
.gitUsernameWrapper .gitUsername .top {
  position: relative;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 35px;
  background-color: white;
}

/* line 29, ../sass/index.sass */
.gitUsernameWrapper .gitUsername .top .pic {
  position: absolute;
  margin-top: 12.5px;
  margin-left: 7px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.gitUsernameWrapper .gitUsername .top .pic .profile {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-image: url("../../images/gitUsernameWrapper/mikian.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 42, ../sass/index.sass */
.gitUsernameWrapper .gitUsername .top .pic .icon {
  position: absolute;
  height: 17px;
  width: 17px;
  bottom: 0;
  right: 0;
  color: #fed03d;
  font-size: 25px;
}

/* line 50, ../sass/index.sass */
.gitUsernameWrapper .gitUsername .top .text {
  position: absolute;
  min-width: 110px;
  top: 50%;
  left: 50%;
  font-family: "Lora", serif;
  margin-top: -15px;
  margin-left: -55px;
}

/* line 59, ../sass/index.sass */
.gitUsernameWrapper .gitUsername .top .text p {
  margin: auto;
  text-align: center;
  font-size: 20px;
}

/* line 63, ../sass/index.sass */
.gitUsernameWrapper .gitUsername .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 115px;
  width: 300px;
}

/* line 69, ../sass/index.sass */
.gitUsernameWrapper .gitUsername .bottom .username {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  color: white;
  margin-top: -30px;
}

/* line 77, ../sass/index.sass */
.gitUsernameWrapper .gitUsername .bottom .username p {
  margin: auto;
  text-align: center;
  font-size: 40px;
}

.smallUsername p {
  font-size: 35px !important
}

#textContents {
  height: 100px
}

/* Eof */